body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  cursor: pointer;
}
.react-tabs {
  width: 100%;
}
.react-tabs__tab {
  background-color: #ededed !important;
}
.react-tabs__tab-list {
  display: flex;
}
.react-tabs__tab-list li {
  flex: 1;
}
.react-tabs__tab--selected {
  background-color: white !important;
}
