.app-stores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  width: 80vw;
}
/* media query for laptop screen */
@media (min-width: 768px) {
  .app-stores {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    width: 100%;
  }
  .app-stores > div {
    flex: 0 0 calc(33.333333% - 2em);
  }
}
