.app-store {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #707070;
  height: 150px;
  width: 150px;
  border-radius: 1em;
  cursor: pointer;
}
.app-store-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
  height: 100%;
}
.app-store-body > img {
  max-width: 5em;
  max-height: 5em;
}
.app-store-footer {
  background-color: white;
  padding: 0;
  margin: 0;
  border-radius: 0 0 1em 1em;
}
.app-store-footer > h3 {
  margin: 0;
  padding: 0.1em;
  color: black;
  margin: 0.5em;
}
