.app-testing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5em;
}

.app-testing > form {
  width: 50%;
  align-items: center;
}
.app-users {
  flex-direction: column;
  gap: 0.1em;
  flex: 1;
  margin-left: 4em;
}
.app-user {
  background-color: #adadad;
  padding: 1em;
  border-radius: 1em;
  margin-top: 1em;
  width: 100%;
}
