.app-stores {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: white;
  height: 100%;
  background-color: #d9d9d9;
  padding: 1em;
}

/* media query for laptop screen */
@media (min-width: 768px) {
  .app-stores {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
